<h2>Login</h2>

<form action="[% login_url %]" method="post">
	<dl>
		<dt>Email:</dt>
		<dd><input type="text" name="email"/></dd>
		<dt>Password:</dt>
		<dd><input type="password" name="password" /></dd>
		<dd><input type="submit" value="Login" /></dd>
	<dl>
	<br>
	<a href="[% creation_url %]">Create Account</a>
</form>
